@{
    ViewBag.Title = "Home Page";
}

<button id="send-message" type="button">Send message</button>
<div id="show-message"></div>

@section scripts {
    <script>
        (function () {
            var myHub = $.connection.myHub;
            $.connection.hub.start()
            .done(function () {
                console.log("Connect to signalR hub successfully!");
                
            })
            .fail(function (error) {
                console.log(error);
            });

            $("#send-message").click(function (e) {
                myHub.server.announce("kaka");
            });

            myHub.client.announce = function (message) {
                $("#show-message").append(message + "</br>");
            }
        })()
    </script>

}